:root {
    --main-background: rgba(47, 48, 58, 1);
    --akcent-color: rgba(33, 150, 243, 1);
    --nav-color: rgba(33, 33, 33, 1);
    --title-color: rgba(33, 33, 33, 1);
    --text-color: rgba(117, 117, 117, 1);
    --accent2-color: rgba(255, 255, 255, 1);
}

.container {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}

/* header */
.header {
    padding-top: 24px;
    padding-bottom: 25px;
}

.header-container {
    display: flex;
}

.header-nav {
    display: flex;
    align-items: center;
}

.heder-title {
    color: #000;
    font-family: Raleway;
    font-size: 26px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.78px;
}

span {
    color: var(--akcent-color);
    font-family: Raleway;
    font-size: 26px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.78px;
}

.header-list {
    display: flex;
    gap: 50px;
    margin-left: 93px;
    margin-right: 344px;
}

.header-link {
    color: var(--title-color);
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.28px;
}

.header-link:hover {
    color: var(--akcent-color);
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.28px;
}

.address-list {
    display: flex;
    gap: 50px;
}

.address-link {
    color: var(--text-color);
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.28px;
}

.address-link:hover {
    color: var(--akcent-color);
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.28px;
}

/* buttons */
.buttons {
    padding-top: 94px;
    padding-bottom: 50px;
}

.buttons-list {
    display: flex;
    justify-content: center;
    gap: 8px;
    /* width: 73px;
    height: 38px; */
}

.button {
    color: var(--title-color);
    text-align: center;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 26px;
    letter-spacing: 0.48px;
    border-radius: 4px;
    background: #F5F4FA;
    padding-left: 22px;
    padding-right: 22px;
    padding-top: 6px;
    padding-bottom: 6px;
}

.button:first-child {
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 6px;
    padding-bottom: 6px;
}

.button:first-child:hover {
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 6px;
    padding-bottom: 6px;
    color: var(--accent2-color);
    text-align: center;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 26px;
    letter-spacing: 0.48px;
    border-radius: 4px;
    background: var(--akcent-color);
    box-shadow: 0px 3px 1px 0px rgba(0, 0, 0, 0.10), 0px 1px 2px 0px rgba(0, 0, 0, 0.08), 0px 2px 2px 0px rgba(0, 0, 0, 0.12);
}

.button:hover {
    color: var(--accent2-color);
    text-align: center;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 26px;
    letter-spacing: 0.48px;
    border-radius: 4px;
    background: var(--akcent-color);
    box-shadow: 0px 3px 1px 0px rgba(0, 0, 0, 0.10), 0px 1px 2px 0px rgba(0, 0, 0, 0.08), 0px 2px 2px 0px rgba(0, 0, 0, 0.12);
    padding-left: 22px;
    padding-right: 22px;
    padding-top: 6px;
    padding-bottom: 6px;
}


/* projects */

/* .projects {
    padding-bottom: 94px;
} */

.projects-list {
    display: flex;
    flex-wrap: wrap;
    flex-basis: calc((100% * 30px) / 3);
    gap: 30px;
}

.projects-title {
    color: var(--title-color);
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: 1.08px;
    padding-top: 20px;
    margin-bottom: 4px;
    padding-left: 24px;
    padding-right: 24px;
}

.projects-article {
    width: 370px;
    height: 404px;
    border: 1px solid rgba(238, 238, 238, 1);
    background: rgba(255, 255, 255, 1);
}

.projects-article:hover {
    box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.12), 0px 4px 4px 0px rgba(0, 0, 0, 0.06), 1px 4px 6px 0px rgba(0, 0, 0, 0.16);
}

.projects-text {
    color: var(--text-color);
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0.48px;
    padding-bottom: 20px;
    padding-left: 24px;
    padding-right: 24px;
}

/* footer */
.footer {
    margin-top: 94px;
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: rgba(47, 48, 58, 1);
}

.footer-list {
    display: flex;
    flex-direction: column;
    gap: 9px;
}

.footer-title {
    color: var(--accent2-color);
    font-family: Raleway;
    font-size: 26px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.78px;
    margin-bottom: 20px;
}

#footer-a {
    color: var(--accent2-color);
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.42px;
}

.footer-link {
    color: var(--text-color);
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.42px;
}