:root {
    --main-background: rgba(47, 48, 58, 1);
    --akcent-color: rgba(33, 150, 243, 1);
    --nav-color: rgba(33, 33, 33, 1);
    --title-color: rgba(33, 33, 33, 1);
    --text-color: rgba(117, 117, 117, 1);
    --accent2-color: rgba(255, 255, 255, 1);
}


.container {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}

/* header */
.header {
    padding-top: 24px;
    padding-bottom: 25px;
}

.header-container {
    display: flex;
}

.header-nav {
    display: flex;
    align-items: center;
}

.heder-title {
    color: #000;
    font-family: Raleway;
    font-size: 26px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.78px;
}

span {
    color: var(--akcent-color);
    font-family: Raleway;
    font-size: 26px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.78px;
}

.header-list {
    display: flex;
    gap: 50px;
    margin-left: 93px;
    margin-right: 344px;
}

.header-link {
    color: var(--title-color);
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.28px;
}

.header-link:hover {
    color: var(--akcent-color);
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.28px;
}

.address-list {
    display: flex;
    gap: 50px;
}

.address-link {
    color: var(--text-color);
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.28px;
}

.address-link:hover {
    color: var(--akcent-color);
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.28px;
}

/* meeting */
.meeting {
    padding-top: 200px;
    padding-bottom: 200px;
    background-color: rgba(47, 48, 58, 1);
    background-image: url("../imagine/sectionhero.webp");
    background-repeat: no-repeat;
    background-position: center;
}

.meeting-container {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.title {
    color: var(--accent2-color);
    text-align: center;
    font-family: Roboto;
    font-size: 44px;
    font-style: normal;
    font-weight: 900;
    line-height: 60px;
    letter-spacing: 2.64px;
    text-transform: uppercase;
    max-width: 696px;
    margin-bottom: 30px;
}

.meeting-button {
    color: var(--accent2-color);
    text-align: center;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 30px;
    letter-spacing: 0.96px;
    border-radius: 4px;
    background: var(--akcent-color);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    width: 216;
    height: 50px;
    padding-left: 32px;
    padding-right: 32px;
    padding-top: 10px;
    padding-bottom: 10px;
}

/* features */
.features {
    padding-top: 94px;
    padding-bottom: 94px;
}


.features-list {
    display: flex;
    gap: 30px;
}

.features-item::before {
    content: "";
    border-radius: 4px;
    background: #F5F4FA;
    width: 270px;
    height: 120px;
    flex-shrink: 0;
    display: flex;
    background-image: url("../imagine/antenna.webp");
    margin-bottom: 30px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 70px 70px;
}

.features-item:nth-child(2)::before {
    background-image: url("../imagine/clock.webp");

}

.features-item:nth-child(3)::before {
    background-image: url("../imagine/diagram.webp");

}

.features-item:last-child::before {
    background-image: url("../imagine/astronaut.webp");

}

.features-title {
    color: var(--title-color);
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.42px;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.features-text {
    color: var(--text-color);
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.42px;
}

/*  What we do */
.whatwedo {
    padding-bottom: 94px;
}

.whatwedo-list {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 30px;

}

.whatwedo-title {
    color: var(--title-color);
    text-align: center;
    font-family: Roboto;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1.08px;
    margin-bottom: 50px;
}

/* our-team */
.team {
    padding-top: 94px;
    padding-bottom: 94px;
    background-color: rgba(245, 244, 250, 1);
}

.team-list {
    display: block;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    gap: 30px;

}

.team-img {
    width: 270px;
    height: 260px;
}

.team-article {
    background-color: var(--accent2-color);
    width: 270px;
    height: 368px;
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.12), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px 0px rgba(0, 0, 0, 0.20);
   
}

.team-title {
    color: var(--title-color);
    text-align: center;
    font-family: Roboto;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1.08px;
    margin-bottom: 50px;
}

.team-subtitle {
    color: var(--title-color);
    text-align: center;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.48px;
    margin-top: 30px;
    margin-bottom: 10px;
}

.team-text {
    color: var(--text-color);
    text-align: center;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.48px;
    padding-bottom: 30px;
}


/* footer */
.footer {
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: rgba(47, 48, 58, 1);
}

.footer-list {
    display: flex;
    flex-direction: column;
    gap: 9px;
}

.footer-title {
    color: var(--accent2-color);
    font-family: Raleway;
    font-size: 26px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.78px;
    margin-bottom: 20px;
}

#footer-a {
    color: var(--accent2-color);
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.42px;
}

.footer-link {
    color: var(--text-color);
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.42px;
}