:root {
    --main-background: rgba(47, 48, 58, 1);
    --akcent-color: rgba(33, 150, 243, 1);
    --nav-color: rgba(33, 33, 33, 1);
    --title-color: rgba(33, 33, 33, 1);
    --text-color: rgba(117, 117, 117, 1);
}

 footer {
   background-color: var(--main-background)
 }
 .meeting {
    background-color: var(--main-background)
 }
 #post-in-header, #stydio, span {
    color: var(--akcent-color)
 }       
 button {
    background-color:var(--akcent-color);
 }     
 h1, button, .webstudio, .maps {
    color: rgba(255, 255, 255, 1);
 }
 .index, .portfolio, .contacts, .phone-number {
    color:var(--nav-color);
 }
 h2,h3 {
    color:var(--title-color);
 }
 p, .post-in-footer, .tel-in-footer {
    color:var(--text-color);
 }
 .our-team {
    background-color:rgba(245, 244, 250, 1) ;
 }


