ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

a {
  text-decoration: none;
}

button {
  border: none;
  cursor: pointer;
}

img {
  display: block;
  width: 100%;
  max-width: 100%;
}

.container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 5px;
  padding-right: 5px;
}
@media screen and (min-width: 768px) {
  .container {
    width: 738px;
    padding-left: 0;
    padding-right: 0;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
  }
}

.footer__div:hover, .team__div:hover {
  width: 44px;
  height: 44px;
  border: solid rgb(33, 150, 243);
  border-radius: 50%;
  background-color: rgb(33, 150, 243);
  display: flex;
  align-items: center;
  justify-content: center;
  transition-property: background-color, border;
  transition-duration: 250ms;
  animation: team-animation 500ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.customers__div, .footer__box3-button, .whatwedo__box, .team__svgs, .meeting__button {
  display: flex;
  align-items: center;
  justify-content: center;
}

.backdrop {
  background-color: rgba(0, 0, 0, 0.2);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  transition-property: opacity;
  transition-duration: 1000ms;
}

.modal {
  transform: scale(1);
  transition-duration: 250ms;
  position: relative;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 8px;
  padding-bottom: 40px;
  width: 450px;
  height: 609px;
  flex-shrink: 0;
  border-radius: 4px;
  background: rgb(255, 255, 255);
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.12), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px 0px rgba(0, 0, 0, 0.2);
}
@media screen and (min-width: 1200px) {
  .modal {
    width: 528px;
    height: 581px;
  }
}

.is-hidden .modal {
  transform: scale(0, 6);
}

.modal-tittle {
  color: rgb(33, 33, 33);
  text-align: center;
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.6px;
  margin-bottom: 12px;
}

.modal-input {
  /* position: relative; */
  width: 370px;
  height: 40px;
  flex-shrink: 0;
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  padding-left: 42px;
  padding-top: 12px;
  padding-bottom: 12px;
  margin-bottom: 10px;
}
@media screen and (min-width: 1200px) {
  .modal-input {
    width: 448px;
  }
}

.text {
  color: rgb(117, 117, 117);
  font-family: Roboto;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.12px;
  margin-bottom: 4px;
}

.modal-svg {
  position: absolute;
  width: 18px;
  height: 18px;
  margin-left: 12px;
  margin-top: 11px;
  margin-bottom: 11px;
}

.modal-box {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: solid rgba(0, 0, 0, 0.1) 1px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 8px;
  top: 8px;
}

.modal-close {
  width: 18px;
  height: 18px;
}

.modal-close:hover {
  fill: #2196f3;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.model-kom {
  color: rgba(117, 117, 117, 0.5);
  font-family: Roboto;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.12px;
  width: 100%;
  width: 370px;
  height: 120px;
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  padding: 12px 16px 12px 16px;
  margin: 0;
}
@media screen and (min-width: 1200px) {
  .model-kom {
    width: 448px;
  }
}

.checkbox-box {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.checkbox-text {
  color: #757575;
  font-family: Roboto;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.42px;
  margin-left: 8.38px;
}
@media screen and (min-width: 1200px) {
  .checkbox-text {
    font-size: 14px;
  }
}

.checkbox-a {
  color: rgb(33, 150, 243);
  font-family: Roboto;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.42px;
  text-decoration-line: underline;
  text-decoration-style: solid;
  -webkit-text-decoration-skip-ink: none;
          text-decoration-skip-ink: none;
  text-decoration-thickness: auto;
  text-underline-offset: auto;
  text-underline-position: from-font;
}
@media screen and (min-width: 1200px) {
  .checkbox-a {
    font-size: 14px;
  }
}

.checkbox {
  width: 16px;
  height: 15px;
  background-color: rgb(33, 33, 33);
}

.modal-input:focus {
  border: solid rgb(33, 150, 243) 1px;
  outline: none;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.label-input:hover {
  fill: #2196f3;
  transition-property: fill, border;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.textarea:focus {
  border: solid rgb(33, 150, 243) 1px;
  transition-property: border;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  /* outline: none; */
}

.modal-button {
  color: #fff;
  text-align: center;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: 0.96px;
  width: 200px;
  height: 50px;
  flex-shrink: 0;
  border-radius: 4px;
  background: #2196f3;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  margin-left: 85px;
  margin-right: 85px;
  margin-top: 30px;
}
@media screen and (min-width: 1200px) {
  .modal-button {
    margin-left: 124px;
    margin-right: 124px;
  }
}

.is-hidden {
  /* display: none; */
  opacity: 0;
  pointer-events: none;
}

nav a.active {
  color: #2196f3;
}

nav a.active::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -31px;
  border-radius: 2px;
  width: 100%;
  height: 4px;
  background: #2196f3;
  transition-property: content;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  animation: bounce;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

.header {
  padding-top: 16px;
  padding-bottom: 16px;
  border-bottom: 1px solid rgba(117, 117, 117, 0.3058823529);
}
@media screen and (min-width: 768px) {
  .header {
    padding-top: 24px;
    padding-bottom: 25px;
  }
}
.header__container {
  display: flex;
  align-items: center;
}
.header__title {
  color: #000;
  font-family: Raleway;
  font-size: 26px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.03em;
}
.header__nav {
  display: none;
}
@media screen and (min-width: 768px) {
  .header__nav {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
.header__list {
  display: flex;
  gap: 50px;
  /* margin-right: 344px; */
}
@media screen and (min-width: 768px) {
  .header__list {
    margin-left: 87px;
  }
}
@media screen and (min-width: 1200px) {
  .header__list {
    margin-left: 93px;
  }
}
.header__link {
  color: rgb(33, 33, 33);
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.28px;
  position: relative;
}
.header__link:hover {
  color: rgb(33, 150, 243);
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.28px;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.header__link:hover::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -31px;
  border-radius: 2px;
  width: 100%;
  height: 4px;
  background: #2196f3;
  transition-property: content;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.header__address-list {
  display: flex;
}
@media screen and (min-width: 768px) {
  .header__address-list {
    flex-direction: column;
    margin-left: 96px;
    gap: 10px;
  }
}
@media screen and (min-width: 1200px) {
  .header__address-list {
    margin-left: 315px;
    flex-direction: row;
    gap: 30px;
  }
}
.header__address-item {
  display: flex;
  gap: 10px;
  align-items: center;
}
.header__address-item:hover {
  display: flex;
  gap: 10px;
  align-items: center;
  color: rgb(33, 150, 243);
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.header__address-item:hover > .header__envelope {
  fill: rgb(33, 150, 243);
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.header__address-item:hover > .header__smartphone {
  fill: rgb(33, 150, 243);
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.header__address-link {
  color: rgb(117, 117, 117);
  font-family: Roboto;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.28px;
}
@media screen and (min-width: 1200px) {
  .header__address-link {
    font-size: 14px;
  }
}
.header__address-link:hover {
  color: rgb(33, 150, 243);
  font-family: Roboto;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.28px;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 1200px) {
  .header__address-link:hover {
    font-size: 14px;
  }
}
.header__envelope {
  width: 14px;
  height: 10px;
  fill: rgb(117, 117, 117);
}
@media screen and (min-width: 1200px) {
  .header__envelope {
    width: 16px;
    height: 12px;
  }
}
.header__envelope:hover {
  width: 14px;
  height: 10px;
  fill: rgb(33, 150, 243);
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.header__smartphone {
  width: 10px;
  height: 14px;
  fill: rgb(117, 117, 117);
}
.header__smartphone:hover {
  width: 10px;
  height: 14px;
  fill: rgb(33, 150, 243);
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.header__burger {
  fill: #000;
  width: 24px;
  height: 16px;
}
@media screen and (min-width: 768px) {
  .header__burger {
    display: none;
  }
}
.header__menu {
  margin-left: auto;
  background-color: white;
}
@media screen and (min-width: 768px) {
  .header__menu {
    display: none;
  }
}

.span1 {
  color: rgb(33, 150, 243);
  font-family: Raleway;
  font-size: 26px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.78px;
}

.meeting {
  padding-top: 118px;
  padding-bottom: 118px;
  /* background-color: rgba(47, 48, 58, 1); */
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../../imagine/phone/bg@meeting-phone_1x.webp");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
}
@media screen and (min-width: 768px) {
  .meeting {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .meeting {
    padding-top: 200px;
    padding-bottom: 200px;
    width: 1600px;
    height: 600px;
  }
}
.meeting__container {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.meeting__tittle {
  color: rgb(255, 255, 255);
  text-align: center;
  font-family: Roboto;
  font-size: 26px;
  font-style: normal;
  font-weight: 900;
  line-height: 162%;
  letter-spacing: 2.64px;
  text-transform: uppercase;
  max-width: 696px;
  margin-bottom: 30px;
  align-self: center;
}
@media screen and (min-width: 1200px) {
  .meeting__tittle {
    font-size: 44px;
    line-height: 60px;
  }
}
.meeting__button {
  color: rgb(255, 255, 255);
  text-align: center;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: 0.96px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  padding-left: 32px;
  padding-right: 32px;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: rgb(33, 150, 243);
  width: 200;
  height: 50px;
  gap: 10px;
  border-radius: 4px;
  animation: pulse;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
}
@media screen and (min-width: 1200px) {
  .meeting__button {
    background-color: rgb(33, 150, 243);
    width: 216;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    border-radius: 4px;
    animation: pulse;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
  }
}

.features {
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .features {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}
.features__list {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 30px;
}
@media screen and (min-width: 768px) {
  .features__list {
    display: flex;
    flex-direction: row;
    flex-basis: 210px;
  }
}
@media screen and (min-width: 1200px) {
  .features__list {
    display: flex;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;
  }
}
.features__item {
  display: flex;
  align-items: center;
  flex-direction: column;
}
@media screen and (min-width: 768px) {
  .features__item {
    width: 354px;
    height: auto;
  }
}
@media screen and (min-width: 1200px) {
  .features__item {
    width: 270px;
  }
}
.features__item::before {
  content: "";
  border-radius: 4px;
  background: #f5f4fa;
  width: 100%;
  height: 120px;
  flex-shrink: 0;
  display: flex;
  background-image: url("../imagine/antenna.webp");
  margin-bottom: 30px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 70px 70px;
}
@media screen and (min-width: 768px) {
  .features__item::before {
    width: 354px;
    height: 120px;
  }
}
@media screen and (min-width: 1200px) {
  .features__item::before {
    width: 270px;
    height: 120px;
  }
}
.features__item:nth-child(2)::before {
  background-image: url("../imagine/clock.webp");
}
.features__item:nth-child(3)::before {
  background-image: url("../imagine/diagram.webp");
}
.features__item:last-child::before {
  background-image: url("../imagine/astronaut.webp");
}
.features__title {
  color: rgb(33, 33, 33);
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.42px;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 10px;
}
@media screen and (min-width: 768px) {
  .features__title {
    text-align: start;
  }
}
.features__text {
  color: rgb(117, 117, 117);
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 171%;
  letter-spacing: 0.42px;
  text-align: start;
}

.team {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: rgb(245, 244, 250);
}
@media screen and (min-width: 1200px) {
  .team {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}
.team__list {
  display: block;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 30px;
}
@media screen and (min-width: 768px) {
  .team__list {
    flex-direction: row;
  }
}
.team__img {
  width: 100%;
}
@media screen and (min-width: 768px) {
  .team__img {
    flex-direction: row;
    width: 354px;
    height: 374px;
  }
}
@media screen and (min-width: 1200px) {
  .team__img {
    width: 270px;
    height: 260px;
  }
}
.team__article {
  background-color: rgb(255, 255, 255);
  width: 100%;
  max-width: 450px;
  max-height: 622px;
  height: auto;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.12), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px 0px rgba(0, 0, 0, 0.2);
  padding-bottom: 24px;
}
@media screen and (min-width: 768px) {
  .team__article {
    width: 354px;
    height: 536px;
    padding-bottom: 0;
  }
}
@media screen and (min-width: 1200px) {
  .team__article {
    width: 270px;
    height: 428px;
  }
}
.team__title {
  color: rgb(33, 33, 33);
  text-align: center;
  font-family: Roboto;
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1.08px;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
}
@media screen and (min-width: 1200px) {
  .team__title {
    font-size: 36px;
    letter-spacing: 1.08px;
  }
}
.team__subtitle {
  color: rgb(33, 33, 33);
  text-align: center;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.48px;
  margin-top: 30px;
  margin-bottom: 10px;
}
.team__text {
  color: rgb(117, 117, 117);
  text-align: center;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.48px;
  /* margin-bottom: 28px; */
}
.team__svgs {
  gap: 10px;
  padding-left: 32px;
  padding-right: 32px;
}
.team__div {
  width: 44px;
  height: 44px;
  background-color: rgb(255, 255, 255);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 16px;
  margin-bottom: 0;
}
@media screen and (min-width: 1200px) {
  .team__div {
    margin-top: 16px;
  }
}
.team__div:hover > .team__svg {
  fill: rgb(255, 255, 255);
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  animation: team-animation 500ms;
}
.team__svg {
  width: 20px;
  height: 20px;
  fill: rgb(175, 177, 184);
}

.whatwedo {
  padding-bottom: 94px;
  display: none;
}
@media screen and (min-width: 1200px) {
  .whatwedo {
    display: block;
  }
}
.whatwedo__list {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 30px;
}
.whatwedo__title {
  color: rgb(33, 33, 33);
  text-align: center;
  font-family: Roboto;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1.08px;
  margin-bottom: 50px;
}
.whatwedo__item {
  position: relative;
}
.whatwedo__box {
  position: absolute;
  bottom: 0;
  width: 370px;
  height: 70px;
  background-color: rgba(47, 48, 58, 0.8);
}
.whatwedo__text {
  color: rgb(255, 255, 255);
  text-align: center;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.42px;
  text-transform: uppercase;
}

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: rgb(47, 48, 58);
}
.footer__container {
  display: flex;
  flex-direction: column;
  gap: 60px;
}
@media screen and (min-width: 768px) {
  .footer__container {
    gap: 0;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
  }
}
@media screen and (min-width: 1200px) {
  .footer__container {
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: flex-start;
  }
}
.footer__box1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media screen and (min-width: 768px) {
  .footer__box1 {
    margin-right: 162px;
    margin-bottom: 60px;
  }
}
@media screen and (min-width: 1200px) {
  .footer__box1 {
    margin-right: 0;
    margin-bottom: 0;
    justify-content: start;
    align-items: start;
  }
}
.footer__list {
  display: flex;
  flex-direction: column;
  gap: 9px;
  justify-content: center;
  align-items: center;
}
@media screen and (min-width: 1200px) {
  .footer__list {
    justify-content: start;
    align-items: start;
  }
}
.footer__title {
  color: rgb(255, 255, 255);
  font-family: Raleway;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.78px;
  margin-bottom: 20px;
}
@media screen and (min-width: 1200px) {
  .footer__title {
    font-size: 26px;
    margin-right: 156px;
  }
}
.footer__link {
  color: rgb(117, 117, 117);
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.42px;
}
.footer__box2 {
  padding-top: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-bottom: 30px;
}
@media screen and (min-width: 1200px) {
  .footer__box2 {
    margin-right: 91px;
    align-items: start;
    margin-bottom: 0;
    margin-top: 0;
  }
}
.footer__subtittle {
  color: #fff;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.42px;
  text-transform: uppercase;
}
@media screen and (min-width: 1200px) {
  .footer__subtittle {
    text-align: start;
  }
}
.footer__svgs {
  display: flex;
  /* justify-content: center;
      align-items: center; */
  gap: 10px;
}
.footer__div {
  width: 44px;
  height: 44px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 16px;
  margin-bottom: 0;
}
.footer__svg {
  width: 20px;
  height: 20px;
  fill: rgb(255, 255, 255);
}
.footer__box3-text {
  font-family: Roboto;
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #fff;
  margin-bottom: 20px;
  padding-top: 12px;
  margin-right: 10px;
  text-align: center;
}
@media screen and (min-width: 1200px) {
  .footer__box3-text {
    text-align: start;
  }
}
.footer__box3-input {
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  width: 100%;
  height: 50px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background: rgba(33, 150, 243, 0);
  padding-left: 16px;
  padding-top: 15px;
  padding-bottom: 15px;
  max-width: 450px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 768px) {
  .footer__box3-input {
    width: 450px;
    align-self: center;
  }
}
@media screen and (min-width: 1200px) {
  .footer__box3-input {
    width: 358px;
  }
}
.footer__box3-button {
  background-color: rgb(33, 150, 243);
  width: 200px;
  height: 50px;
  gap: 10px;
  border-radius: 4px;
  animation: pulse;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
  align-self: center;
  /* padding-left: 28px;
      padding-top: 10px;
      padding-bottom: 10px; */
}
.footer__box3-svg {
  fill: rgb(255, 255, 255);
  height: 24px;
  width: 24px;
}
.footer__box3-form {
  display: flex;
  gap: 12px;
  flex-direction: column;
  justify-content: center;
}
@media screen and (min-width: 1200px) {
  .footer__box3-form {
    flex-direction: row;
    margin-bottom: 0;
  }
}

#footer__a {
  color: rgb(255, 255, 255);
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.42px;
}

span {
  font-family: Raleway;
  font-weight: 700;
  font-size: 16px;
  line-height: 187%;
  letter-spacing: 0.06em;
  text-align: center;
  color: #fff;
}

.customers {
  padding-top: 46px;
  padding-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .customers {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}
.customers__tittle {
  color: rgb(33, 33, 33);
  text-align: center;
  font-family: Roboto;
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1.08px;
  margin-bottom: 30px;
}
@media screen and (min-width: 1200px) {
  .customers__tittle {
    font-size: 36px;
    margin-bottom: 50px;
  }
}
.customers__list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;
}
.customers__div {
  width: 210px;
  height: 92px;
  flex-shrink: 0;
  border-radius: 4px;
  border: 1px solid rgb(175, 177, 184);
}
@media screen and (min-width: 768px) {
  .customers__div {
    width: 226px;
  }
}
@media screen and (min-width: 1200px) {
  .customers__div {
    width: 170px;
  }
}
.customers__div:hover {
  border-radius: 4px;
  border: 1px solid rgb(33, 150, 243);
  fill: rgb(33, 150, 243);
  transition-property: border, fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.customers__div:hover > .customers__svg {
  fill: rgb(33, 150, 243);
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.customers__svg {
  width: 106px;
  height: 60px;
  fill: rgb(175, 177, 184);
}
.customers__svg:hover {
  fill: rgb(33, 150, 243);
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

@keyframes team-animation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes team-animation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.menu {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  background-color: #fff;
  width: 100%;
  height: 100%;
  padding-top: 8px;
  padding-left: 20px;
  padding-bottom: 48px;
  padding-right: 15px;
  opacity: 1;
}
@media screen and (min-width: 768px) {
  .menu {
    display: none;
    opacity: 0;
  }
}
.menu__close {
  height: 40px;
  width: 40px;
  display: flex;
  margin-left: auto;
  background-color: white;
}
.menu__close:hover {
  fill: #2196f3;
}
.menu__list {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  gap: 32px;
  margin-bottom: 285px;
}
.menu__links {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 40px;
  letter-spacing: 0.02em;
  color: #212121;
}
.menu__links:hover {
  color: #2196f3;
}
.menu__address-list {
  display: flex;
  flex-direction: column;
  gap: 32px;
}
.menu__link {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 34px;
  letter-spacing: 0.02em;
  color: #2196f3;
}
.menu__a {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 24px;
  letter-spacing: 0.02em;
  color: #757575;
}
.menu__ul {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 64px;
}
.menu__li {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 18px;
  line-height: 122%;
  letter-spacing: 0.02em;
  color: #2196f3;
  border-right: 1px solid rgba(33, 33, 33, 0.2);
  padding-right: 10px;
  padding-left: 10px;
}
.menu__li:first-child {
  padding-left: none;
}
.menu__li:last-child {
  padding-right: none;
  border: none;
}

.is-open {
  opacity: 0;
  pointer-events: none;
}/*# sourceMappingURL=style.css.map */