.customers {
  padding-top: 94px;
  padding-bottom: 94px;

  &__tittle {
    color: $title-color;
    text-align: center;
    font-family: Roboto;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1.08px;
    margin-bottom: 50px;
  }

  &__list {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
  }

  &__div {
    width: 170px;
    height: 92px;
    flex-shrink: 0;
    border-radius: 4px;
    border: 1px solid rgb(175, 177, 184);
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__div:hover {
    border-radius: 4px;
    border: 1px solid $akcent-color;
    fill: $akcent-color;
    transition-property: border, fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }

  &__div:hover > .customers__svg {
    fill: $akcent-color;
    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }

  &__svg {
    width: 106px;
    height: 60px;
    fill: rgba(175, 177, 184, 1);
  }

  &__svg:hover {
    fill: $akcent-color;
    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
}
