.footer {
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: rgba(47, 48, 58, 1);
}

.footer-container {
    display: flex;
}



.footer-list {
    display: flex;
    flex-direction: column;
    gap: 9px;
}

.footer-title {
    color: var(--accent2-color);
    font-family: Raleway;
    font-size: 26px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.78px;
    margin-bottom: 20px;
    margin-right: 156px;
}

#footer-a {
    color: var(--accent2-color);
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.42px;
}

.footer-link {
    color: var(--text-color);
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.42px;
}

.footer-box2 {
    padding-top: 12px;
    margin-right: 93px;
}

.footer-subtittle {
    color: #FFF;
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.42px;
    text-transform: uppercase;
}

.footer-svgs {
    display: flex;
    /* justify-content: center;
    align-items: center; */
    gap: 10px;
}

.footer-div {
    margin-top: 16px;
    margin-bottom: 30px;
}

.footer-div:hover {
    width: 44px;
    height: 44px;
    border: solid rgba(33, 150, 243, 1);
    border-radius: 50%;
    background-color: rgba(33, 150, 243, 1);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    transition-property: border, background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    animation: team-animation 500ms;
}

.footer-div {
    width: 44px;
    height: 44px;
    background-color: rgba(255, 255, 255, 0.10);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;

}

.footer-svg {
    width: 20px;
    height: 20px;
    fill: rgba(255, 255, 255, 1);

}

.box3-text {
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #fff;
    margin-bottom: 20px;
    padding-top: 12px;
    margin-right: 10px;
}

.box3-input {
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 4px;
    width: 358px;
    height: 50px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    background: rgba(33, 150, 243, 0);
    padding-left: 16px;
    padding-top: 15px;
    padding-bottom: 15px;
}

.box3-button {
    background-color: #2196F3;
    width: 200px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 4px;
    animation: pulse;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;

    /* padding-left: 28px;
    padding-top: 10px;
    padding-bottom: 10px; */

}

span {
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 16px;
    line-height: 187%;
    letter-spacing: 0.06em;
    text-align: center;
    color: #fff;
}

.button-svg {
    fill: rgb(255, 255, 255);
    height: 24px;
    width: 24px;
}

.box3-form {
    display: flex;
    gap: 12px;
}