.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: rgba(47, 48, 58, 1);

  &__container {
    display: flex;
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 9px;
  }

  &__title {
    color: $accent2-color;
    font-family: Raleway;
    font-size: 26px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.78px;
    margin-bottom: 20px;
    margin-right: 156px;
  }

  &__link {
    color: $text-color;
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.42px;
  }

  &__box2 {
    padding-top: 12px;
    margin-right: 93px;
  }

  &__subtittle {
    color: #fff;
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.42px;
    text-transform: uppercase;
  }

  &__svgs {
    display: flex;
    /* justify-content: center;
        align-items: center; */
    gap: 10px;
  }

  &__div {
    @include footer_div($margin_t: 16px, $margin_b:30px, $b_color:rgba(255, 255, 255, 0.10));
    
    &:hover {
        @extend %svgs_hover;
        margin-bottom: 20px;
    }
  }

  &__svg {
    width: 20px;
    height: 20px;
    fill: rgba(255, 255, 255, 1);
  }

  &__box3-text {
    font-family: Roboto;
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #fff;
    margin-bottom: 20px;
    padding-top: 12px;
    margin-right: 10px;
  }

  &__box3-input {
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 4px;
    width: 358px;
    height: 50px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    background: rgba(33, 150, 243, 0);
    padding-left: 16px;
    padding-top: 15px;
    padding-bottom: 15px;
  }

  &__box3-button {
    @include button($height: 50px, $width: 200px);

    /* padding-left: 28px;
        padding-top: 10px;
        padding-bottom: 10px; */
  }

  &__box3-svg {
    fill: rgb(255, 255, 255);
    height: 24px;
    width: 24px;
  }

  &__box3-form {
    display: flex;
    gap: 12px;
  }
}

#footer__a {
  color: $accent2-color;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.42px;
}

span {
  font-family: Raleway;
  font-weight: 700;
  font-size: 16px;
  line-height: 187%;
  letter-spacing: 0.06em;
  text-align: center;
  color: #fff;
}
