nav a.active {
  color: #2196f3;
}

nav a.active::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -31px;
  border-radius: 2px;
  width: 100%;
  height: 4px;
  background: #2196f3;
  transition-property: content;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  animation: bounce;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

.header {
  padding-top: 16px;
  padding-bottom: 16px;
  border-bottom: 1px solid #7575754e;
  

  @media screen and (min-width: 768px) {
    padding-top: 24px;
    padding-bottom: 25px;
  }

  &__container {
    display: flex;
      // justify-content: center;
      align-items: center;
      
  }

  &__title {
    color: #000;
    font-family: Raleway;
    font-size: 26px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.03em;
  }

  &__nav {
    display: none;

    @media screen and (min-width: 768px) {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  &__list {
    display: flex;
    gap: 50px;
    

    @media screen and (min-width: 768px) {
      margin-left: 87px;
    }

    @media screen and (min-width: 1200px) {
      margin-left: 93px;
    }
    /* margin-right: 344px; */
  }

  &__link {
    color: $title-color;
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.28px;
    position: relative;

    &:hover {
      color: $akcent-color;
      font-family: Roboto;
      font-size: 14px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
      letter-spacing: 0.28px;
      transition-property: color;
      transition-duration: 250ms;
      transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }

    &:hover::after {
      content: "";
      position: absolute;
      left: 0;
      bottom: -31px;
      border-radius: 2px;
      width: 100%;
      height: 4px;
      background: #2196f3;
      transition-property: content;
      transition-duration: 250ms;
      transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }
  }

  &__address-list {
    display: flex;
    
    @media screen and (min-width: 768px) {
      flex-direction: column;
      margin-left: 96px;
      gap: 10px;
    }

    @media screen and (min-width: 1200px) {
      margin-left: 315px;
      flex-direction: row;
      gap: 30px;
    }

  }

  &__address-item {
    display: flex;
    gap: 10px;
    align-items: center;

    &:hover {
      display: flex;
      gap: 10px;
      align-items: center;
      color: $akcent-color;
      transition-property: color;
      transition-duration: 250ms;
      transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }

    &:hover > .header__envelope {
      fill: $akcent-color;
      transition-property: fill;
      transition-duration: 250ms;
      transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }

    &:hover > .header__smartphone {
      fill: $akcent-color;
      transition-property: fill;
      transition-duration: 250ms;
      transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }
  }

  &__address-link {
    color: $text-color;
    font-family: Roboto;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.28px;
    

    @media screen and (min-width: 1200px) {
      font-size: 14px;
    }
    &:hover {
      color: $akcent-color;
      font-family: Roboto;
      font-size: 12px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
      letter-spacing: 0.28px;
      transition-property: color;
      transition-duration: 250ms;
      transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }
  }

  &__envelope {
    width: 14px;
    height: 10px;
    
    fill: rgb(117, 117, 117);
    @media screen and (min-width: 1200px) {
      width: 16px;
      height: 12px;
    }
    &:hover {
      width: 14px;
      height: 10px;
      fill: $akcent-color;
      transition-property: fill;
      transition-duration: 250ms;
      transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }
  }

  &__smartphone {
    width: 10px;
    height: 14px;
    fill: rgb(117, 117, 117);

    &:hover {
      width: 10px;
      height: 14px;
      fill: $akcent-color;
      transition-property: fill;
      transition-duration: 250ms;
      transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }
  }

  &__burger {
    fill: #000;
   
    width: 24px;
    height: 16px;
    @media screen and (min-width: 768px) {
      display: none;
    }
  }

  &__menu {
  
    margin-left: auto;
    background-color: white;
    @media screen and (min-width: 768px) {
      display: none;
    }
  }
}

.span1 {
  color: $akcent-color;
  font-family: Raleway;
  font-size: 26px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.78px;
}
