.projects {
  padding-bottom: 94px;

  &__list {
    display: flex;
    flex-wrap: wrap;
    // flex-basis: calc((100% * 30px)/3);
    gap: 30px;
  }

  &__title {
    color: $title-color;
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: 1.08px;
    padding-top: 20px;
    margin-bottom: 4px;
    padding-left: 24px;
    padding-right: 24px;
  }

  &__article {
    width: 370px;
    height: 404px;
    border: 1px solid rgba(238, 238, 238, 1);
    background: rgba(255, 255, 255, 1);
    position: relative;
    overflow: hidden;

    &:hover {
      transition-property: box-shadow;
      transition-duration: 250ms;
      transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
      box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.12),
        0px 4px 4px 0px rgba(0, 0, 0, 0.06), 1px 4px 6px 0px rgba(0, 0, 0, 0.16);
    }

    &:hover .overlay {
        opacity: 1;
        transform: translateY(0);
      }
  }

  &__text {
    color: $text-color;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0.48px;
    padding-bottom: 20px;
    padding-left: 24px;
    padding-right: 24px;
  }
}







.overlay {
  width: 370px;
  height: 294px;
  background: rgba(33, 150, 243, 0.9);
  position: absolute;
  right: 0;
  bottom: 110px;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 63px;
  padding-bottom: 63px;
  transform: translateY(100%);
  transition-property: opacity, transform;
  transition-duration: 500ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.overlay1-text {
  font-family: Roboto;
  font-weight: 400;
  font-size: 18px;
  line-height: 156%;
  letter-spacing: 0.03em;
  color: #fff;
}
